body {
  background-color: rgb(255, 255, 255);
  background-size: 100% 100%;
}
img.portrait {
  width: 200px;
  padding-left: 25px;
  border-radius: 80px;
  float: left;
  margin-right: 20px;
}
.contactdetails_email_desc {
  font-weight: bold;
  float: left;
}
.contactdetails_email_desc:hover {
  cursor: help;
}
.contactdetails_email {
  font-style: italic;
  float: left;
  background-color: rgb(212, 212, 175);
  background-size: 20px;
}
.panel {
  background-color: rgba(125, 125, 241, 0.527);
  width: 250px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 300;
  left: 25px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  float: left;
}
