body {
  background-color: rgb(255, 255, 255);
  background-size: 100% 100%;
}
text {
}
img.portrait {
  width: 200px;
  padding-left: 25px;
  border-radius: 80px;
  float: none;
  margin-right: 20px;
}
.panel {
  background-image: linear-gradient(
    to right,
    rgba(10, 10, 139, 0.842),
    rgba(10, 10, 139, 0.842),
    rgba(46, 46, 248, 0.842)
  );
  width: 250px;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0vh;
  left: -270px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 10px;
  float: left;
}
.panel_arrow {
  background-color: rgba(10, 10, 139, 0.842);
  top: 0vh;
  left: 0px;
  padding: 5px;
  position: fixed;
  z-index: 10;
  transition: 0.5s;
  font-size: 50px;
  font-weight: bold;
  color: green;
  cursor: pointer;
}
.main_page {
  background-image: linear-gradient(
    to left,
    rgba(10, 10, 139, 0.842),
    rgba(46, 46, 248, 0.842),
    rgba(10, 10, 139, 0.842),
    rgba(46, 46, 248, 0.842),
    rgba(10, 10, 139, 0.842)
  );
  z-index: 1;
  position: absolute;
  max-width: 100vw;
  top: 0px;
  left: 0px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  transition-duration: 0.5s;
}
img.social-link {
  width: 32px;
  height: 32px;
  float: left;
  padding-right: 20px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  padding-top: 6px;
}
img.social-link:hover {
  transform: scale(1.3);
}
img.social-link-bigger_f {
  width: 44px;
  height: 44px;
  float: left;
  padding-right: 10px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  padding-top: 3px;
  align-self: center;
}
img.social-link-bigger_f:hover {
  transform: scale(1.3);
}
img.social-link-bigger_i {
  width: 40px;
  height: 40px;
  float: left;
  padding-right: 10px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  padding-top: 6px;
  align-self: center;
}
img.social-link-bigger_i:hover {
  transform: scale(1.3);
}
img.social-email {
  width: 46px;
  height: 46px;
  margin-bottom: auto;
  float: none;
  padding-right: 20px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
img.social-email:hover {
  transform: scale(1.3);
}
.normal-text {
  align-self: center;
  padding-right: ;
  color: white;
  font-size: 26px;
}
.panel-text {
  color: white;
  font-size: 20px;
}
.empty-space {
  width: 20px;
  height: 20px;
}
